/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

html {
  background-color: lightgray;
  background-image: url('images/body_bg.png');
}

body {
  max-width: 680px;
  margin: 100px auto;
  padding: 0 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; /* http://blog.gesteves.com/post/36097597/helvetica-neue-light */
  font-weight: 300;
  font-size: 16px;
  color: #555;
  text-shadow: 0 1px 0 #EEEEEE;
}
body.splash {
  margin-top: 150px;
}

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/* http://stackoverflow.com/a/33596636/203773 */
a.unstyled,
a.unstyled:link,
a.unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

img {
  width: 100%;
}

.splash h1 {
  font-size: 65px;
  font-weight: inherit;
  margin: 25px 0 0;
  text-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255);
  text-align: center;
}

.splash h2 {
  margin-top: 0;
  font-size: 22px;
  text-align: center;
}

.splash .navigation a:hover { color: #777777; }

.splash #content {
  font-size: 18px;
  text-align: center;
}

h1 {
  margin-top: -30px;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 300;
}

h2 {
  margin: 25px 0;
  font-weight: inherit;
}

p {
  margin: 10px 0;
  text-shadow: 0 1px 0 #DDDDDD;
}

p:first-of-type {
  margin-top: 0;
}

#sidebar {
  float: left;
  width: 120px;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 19px;
}

@media (min-width: 400px) {
  #content.sidebar {
    margin-left: 200px;
  }
  #sidebar {
    margin-left: -200px;
    width: 180px;
  }
}

#sidebar ol.links {
  margin-top: -10px;
}

#sidebar ol {
  list-style: none;
}

#sidebar ol li {
  margin: 0.1em 0;
}

main {
  overflow: hidden;
}

ol.navigation {
  list-style: none;
}
ol.navigation.horizontal li {
  display: inline;
  margin: 0 0.1em;
}
ol.navigation a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

@media (min-width: 400px) {
  /* http://stackoverflow.com/a/19138704/203773 */
  dl.horizontal dt {
    float: left;
    clear: left;
    width: 170px;
    text-align: right;
  }

  dl.horizontal dd {
    margin-left: 200px;
  }

  dl.horizontal dd:after {
    content: '';
    display: block;
    clear: both;
  }
}

dl.horizontal dt,
dl.horizontal dd {
  margin-bottom: 20px;
}

blockquote {
  border-left: 5px solid #aaa;
  margin: 1.5em 10px;
  padding: 0em 10px;
}

blockquote .attribution {
  font-style: italic;
}

img.logo {
  width: auto;
  min-width: 50px;
  max-height: 60px;
  max-width: 180px;
}

img.logo.downsize {
  max-height: 40px;
}

.horizontal-logos {
  text-align: center;
}

.horizontal-logos .logo {
  display: inline-block;
  margin: 15px;
}

@media (max-width: 400px) {
  .horizontal-logos .logo {
    display: block;
    margin: 30px auto;
  }
}

.footnote {
  font-size: 90%;
  font-style: italic;
}

.small {
  font-size: 60%;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }
