/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

html {
  background-color: lightgray;
  background-image: url('images/body_bg.png');
}

body {
  width: 680px;
  margin: 100px auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif; /* http://blog.gesteves.com/post/36097597/helvetica-neue-light */
  font-weight: 300;
  font-size: 16px;
  color: #555;
  text-shadow: 0 1px 0 #EEEEEE;
}
body.splash {
  margin-top: 150px;
}

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/* http://stackoverflow.com/a/33596636/203773 */
a.unstyled,
a.unstyled:link,
a.unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.splash h1 {
  font-size: 70px;
  font-weight: inherit;
  margin: 25px 0 0;
  text-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px rgb(255, 255, 255);
  text-align: center;
}

.splash h2 {
  margin-top: 0;
  font-size: 22px;
  text-align: center;
}

.splash #content {
  font-size: 18px;
  text-align: center;
}

h1 {
  margin-top: -30px;
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: 300;
}

h2 {
  margin: 25px 0;
  font-weight: inherit;
}

p {
  margin: 10px 0;
  text-shadow: 0 1px 0 #DDDDDD;
}

#content.sidebar {
  margin-left: 200px;
}

#sidebar {
  float: left;
  margin-right: 20px;
  margin-left: -200px;
  font-size: 19px;
}

#sidebar ol.links {
  margin-top: -10px;
}

#sidebar ol {
  list-style: none;
}

#sidebar ol li {
  margin: 0.1em 0;
}


ol.navigation {
  list-style: none;
}
ol.navigation.horizontal li {
  display: inline;
  margin: 0 0.1em;
}
ol.navigation a {
  color: inherit;
  background-color: inherit;
  text-decoration: none;
}

.main.navigation a:hover { color: #777777; }

.small {
  font-size: 60%;
}

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; visibility: hidden; }
.clearfix:after { clear: both; }
/* fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }
